html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Avenir Next', sans-serif;
    background-color: rgba(200, 200, 200, 0.3);
}

.frame {
    overflow-x: hidden;
    height: 568px;
    width: 320px;
    background: rgba(200, 200, 200, 0.3);
    position: relative;
    margin: 0 auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.banner {
    background-color: #6d6e70;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: fixed;
    font-family: 'Avenir Next', sans-serif;
    color: #fff;
}

.photoset {
    margin: 0;
    padding: 0;
    margin-top: 60px;
    overflow-y: scroll; 
    height: 508px;
}

.photo {
    list-style-type: none;
    max-height: 200px;
    height: 200px; 
    width: 100%;
    background-size: cover; 
    cursor: pointer;
}

.photo:hover {
    opacity: 0.98;
}

.photo-1 {
    background-image: url('img/1.jpg');
}

.photo-2 {
    background-image: url('img/2.jpg');
}

.photo-3 {
    background-image: url('img/3.jpg');
}

.photo-4 {
    background-image: url('img/4.jpg');
}

.photo-5 {
    background-image: url('img/5.jpg');
}

.overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: calc(100% - 60px);
    background-color: rgba(0, 0, 0, 0.65);
    top: 60px;
    display: none;
}

.share-modal {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    color: #6d6e70;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: none;
}

.share-modal ul {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.share-modal ul li {
    display: inline-block;
    list-style-type: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    margin-left: 20px;
    color: #1f8dd6;
    border: 1px solid #1f8dd6;
    margin-bottom: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.share-modal ul li:first-child {
    margin-left: 0;
}

.share-modal ul li:hover {
    color: #fff;
    background-color: #1f8dd6;
}

.share-modal ul li.cancel {
    width: 30px;
    border-color: #6d6e70;
    color: #6d6e70;
}

.share-modal ul li.cancel:hover {
    background-color: transparent;
    color: #6d6e70;
}

/* Animation Classes */

.modal-hidden {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    display: block;
}

.modal-visible {
    -webkit-transform: translateY(0);
    transform: translateY(0); 
}

.animate-pop-up {
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition:         all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}




